html {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: white;
}

/* Lock footer to the bottom */
.main-body {
  min-height: 90vh;
  margin: 0px;
  width: 100vw;
}

.footer {
  position: absolute;
  height: 5vh;
  width: 100%;
  padding-top: 20px;
  background-color: rgba(155,155,155,0.2);
  text-align: center;
}

.background {
  margin: 30px auto 0px;
  background-image: url('https://images.pexels.com/photos/164005/pexels-photo-164005.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');
  padding: 50px 40px;
}

/* Main Title */
h1 {
  text-align: center;
  font-size: 40px;
  margin: 30px auto 10px;
}

/* Letters Grid */
.letters-section {
  margin: 50px;
  background-color: whitesmoke;
}

.letters {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: auto;
  font-family: Arial;
  padding: 0px;
  li {
    color: white;
    background-color: blue;
    border: 1px solid rgba(155, 155, 155, 0.5);
    padding: 25px 30px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 255, .2);
  }
}

/* User Input */

.form-section {
  width: 60vw;
  opacity: 0.9;
  margin: 50px auto;
  padding: 30px 20px 50px;
  border-radius: 5px;
  text-align: center;
  background-color: whitesmoke;
  h2 {
    margin: 0px auto 30px
  }
}

.form-input {
  width: 40vw;
  height: 30px;
  font-size: 18px;
  border-radius: 5px;
}

.form-btn {
  width: 10vw;
  height: 38px;
  font-size: 18px;
  border-radius: 5px;
  color: white;
  background-color: green;
  border: none;
  transition-property: all;
  &:hover {
    background-color: blue;
    cursor: pointer;
  }
}
